/* ---------------------- BASE ------------------------- */

:root {
    --yellow: #ffc207;
    --cyan: #16a3b7;
    --light-green: #96c93e;
    --green: hsl(133, 61%, 41%);
    --dark-gray: #353a40;
    --dark-blue: #1e5170;
}

